<a href="https://colab.research.google.com/github/RODIV45/Data-Analysis-with-Python-GFG/blob/main/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas

In [2]:
lst=[1,2,3,4,5]

In [3]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [4]:
pandas.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [6]:
pandas.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [7]:
pandas.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [8]:
lst1=[1,2,4,6,78]
lst2=[6,7,9,0,8]

In [9]:
df=pandas.DataFrame([lst1,lst,lst1,lst,lst2,lst,lst,lst,lst2],columns=['a','b','c','d','e'])

In [10]:
df

   a  b  c  d   e
0  1  2  4  6  78
1  1  2  3  4   5
2  1  2  4  6  78
3  1  2  3  4   5
4  6  7  9  0   8
5  1  2  3  4   5
6  1  2  3  4   5
7  1  2  3  4   5
8  6  7  9  0   8

In [11]:
import pandas as pd

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
del df

In [17]:
df

NameError: ignored

In [15]:
#how to delete data frame

In [18]:
ls

sample_data/

In [26]:
data=pd.read_csv("appstore.csv")

FileNotFoundError: ignored

In [25]:
 data.head(3)# if not pass anyrows then by default shows first 5 rows

NameError: ignored

In [27]:
data['name of the column']

NameError: ignored

In [28]:
data.columns #gives all the column names in thr list format

NameError: ignored

In [ ]:
for i in data.columns:
     print(i)
#gives all columns name in the tabular manner

In [ ]:
for i in data.columns:
    print(data[i],[0])
# prints row info of the zeroth index

In [ ]:
data(["name of the column"],[index like 0,1,2,3,4...])
# gives the row information of the index in the particular column

In [ ]:
#on series we can apply indexing
#but on a data frame we cant apply indexing as TYPE OF DATA FRAME IS A SERIES