<a href="https://colab.research.google.com/github/RODIV45/Data-Analysis-with-Python-GFG/blob/main/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas

In [2]:
lst=[1,2,3,4,5]

In [3]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [4]:
pandas.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [6]:
pandas.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [7]:
pandas.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [8]:
lst1=[1,2,6,78]
lst2=[6,7,9,0,8]
lst3=[65,89,69]

In [9]:
df=pandas.DataFrame([lst1,lst,lst1,lst,lst2,lst,lst,lst3,lst2],columns=['a','b','c','d','e'])#.dropna()
#dropping the null spaced rows can be done here also

In [10]:
df

    a   b   c     d    e
0   1   2   6  78.0  NaN
1   1   2   3   4.0  5.0
2   1   2   6  78.0  NaN
3   1   2   3   4.0  5.0
4   6   7   9   0.0  8.0
5   1   2   3   4.0  5.0
6   1   2   3   4.0  5.0
7  65  89  69   NaN  NaN
8   6   7   9   0.0  8.0

In [11]:
import pandas as pd

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
# del df 

#this can be used to delete the table data

In [14]:
#how to delete data frame

In [15]:
ls

sample_data/

In [16]:
data=pd.read_csv("appstore.csv")

FileNotFoundError: ignored

In [20]:
# to directly remove all null spaced rows at the start from the data
data=pd.read_csv("googleplaystore.csv").dropna()

FileNotFoundError: ignored

In [19]:
 data.head(3)# if not pass anyrows then by default shows first 5 rows

NameError: ignored

In [18]:
df.head()

   a  b  c     d    e
0  1  2  6  78.0  NaN
1  1  2  3   4.0  5.0
2  1  2  6  78.0  NaN
3  1  2  3   4.0  5.0
4  6  7  9   0.0  8.0

In [21]:
data['name of the column']

NameError: ignored

In [22]:
df.head(2)

   a  b  c     d    e
0  1  2  6  78.0  NaN
1  1  2  3   4.0  5.0

In [ ]:
data.columns #gives all the column names in thr list format

In [23]:
df.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
for i in data.columns:
     print(i)
#gives all columns name in the tabular manner

In [24]:
for i in df.columns:
  print(i)

a
b
c
d
e

In [25]:
for i in data.columns:
    print(data[i],[0])
# prints row info of the zeroth index

NameError: ignored

In [26]:
for i in df.columns:
  print(df[i],[0])

0     1
1     1
2     1
3     1
4     6
5     1
6     1
7    65
8     6
Name: a, dtype: int64 [0]
0     2
1     2
2     2
3     2
4     7
5     2
6     2
7    89
8     7
Name: b, dtype: int64 [0]
0     6
1     3
2     6
3     3
4     9
5     3
6     3
7    69
8     9
Name: c, dtype: int64 [0]
0    78.0
1     4.0
2    78.0
3     4.0
4     0.0
5     4.0
6     4.0
7     NaN
8     0.0
Name: d, dtype: float64 [0]
0    NaN
1    5.0
2    NaN
3    5.0
4    8.0
5    5.0
6    5.0
7    NaN
8    8.0
Name: e, dtype: float64 [0]

In [ ]:
data(["name of the column"],[index like 0,1,2,3,4...])
# gives the row information of the index in the particular column

In [28]:
df(["b"],[3])

TypeError: ignored

In [30]:
#on series we can apply indexing
#but on a data frame we cant apply indexing as TYPE OF DATA FRAME IS A SERIES

In [29]:
df.isnull()   #it checks whether there is any null or vacant data in the table
#if vacant/null value then true

       a      b      c      d      e
0  False  False  False  False   True
1  False  False  False  False  False
2  False  False  False  False   True
3  False  False  False  False  False
4  False  False  False  False  False
5  False  False  False  False  False
6  False  False  False  False  False
7  False  False  False   True   True
8  False  False  False  False  False

In [32]:
df.isnull().sum() 
#gives sum of all null spaces present in a column

a    0
b    0
c    0
d    1
e    3
dtype: int64

In [58]:
df.dropna()
#so we see rows with null values are deleted

   a  b  c    d    e
1  1  2  3  4.0  5.0
3  1  2  3  4.0  5.0
4  6  7  9  0.0  8.0
5  1  2  3  4.0  5.0
6  1  2  3  4.0  5.0
8  6  7  9  0.0  8.0

In [33]:
df1=df.dropna()

In [34]:
df1.isnull().sum()

a    0
b    0
c    0
d    0
e    0
dtype: int64

In [35]:
df.fillna(45)
#filling of null spaces

    a   b   c     d     e
0   1   2   6  78.0  45.0
1   1   2   3   4.0   5.0
2   1   2   6  78.0  45.0
3   1   2   3   4.0   5.0
4   6   7   9   0.0   8.0
5   1   2   3   4.0   5.0
6   1   2   3   4.0   5.0
7  65  89  69  45.0  45.0
8   6   7   9   0.0   8.0

In [36]:
#numeric data analysis

In [37]:
##finding average of column b

In [ ]:
df1['b']

In [39]:
sum(df1['b'])

22

In [40]:
int(sum(df1['b'])/6)

3

In [41]:
int(sum(df1['b']))/6

3.6666666666666665

In [42]:
str(int(sum(df1['b']))/6)[:4]

'3.66'

In [43]:
float(str(int(sum(df1['b']))/6)[:4])

3.66

In [44]:
#another way to find avg of column b

s=0
for i in df1['b']:
      s+=i
print(int(s/6))

3

In [45]:
len(df1['b'])
#we can divide sum by the above one-line code also

6

In [48]:
#how many elements in column a are equal to 1

In [47]:
count=0
for i in df1['a']:
    if (i==1):
      count+=1

print("there are ",count,"elements equal to 1")

there are  4 elements equal to 1

In [49]:
#to check no of app in the rating range
c=0
for i in (data['rating']):
   if (i>=3.5 and i<5):
     c+=1
print("there are ",c,"apps with rating in this range")

NameError: ignored

In [50]:
#to check no of elements >=3 and <=6 in df
c=0 
for i in (df['c']):
  if (i>=3 and i<=6):
    c+=1
print("there are",c,"elements in this range")

there are 6 elements in this range