<a href="https://colab.research.google.com/github/RODIV45/Data-Analysis-with-Python-GFG/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
import pandas as pd

In [58]:
path="/content/drive/MyDrive/airports.csv"
df=pd.read_csv(path)
df.dropna()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
21082,44483,DTNH,medium_airport,Enfidha - Hammamet International Airport,36.075833,10.438611,21.0,AF,TN,TN-51,Enfidha,yes,DTNH,NBE,DTNH,http://www.enfidhahammametairport.com/,https://en.wikipedia.org/wiki/Enfidha%E2%80%93...,DTNH
30286,323221,JJD,medium_airport,Jericoacoara - Comandante Ariston Pessoa Regio...,-2.906425,-40.357338,89.0,SA,BR,BR-CE,Cruz,yes,SBJE,JJD,CE0003,https://www-jericoacoara-com.translate.goog/br...,https://en.wikipedia.org/wiki/Jericoacoara_air...,"SSVV, Jericoacoara"
40110,4307,LIAP,small_airport,L'Aquila–Preturo Airport,42.379902,13.309200,2211.0,EU,IT,IT-65,L'Aquila,no,LIAP,QAQ,AQ03,http://www.aeroportodeiparchi.it/,https://en.wikipedia.org/wiki/L%27Aquila%E2%80...,"Parchi Airport, Preturo Airport, Aeroporto dei..."
40116,4309,LIBC,medium_airport,Crotone Airport,38.997200,17.080200,522.0,EU,IT,IT-78,Crotone,yes,LIBC,CRV,KR01,http://www.aeroporto.kr.it/cartaservizi_eng.asp,https://en.wikipedia.org/wiki/Crotone_Airport,Sant'Anna Airport
40117,4310,LIBD,large_airport,Bari Karol Wojtyła Airport,41.138901,16.760599,177.0,EU,IT,IT-75,Bari,yes,LIBD,BRI,BA02,http://www.seap-puglia.it/default.asp?idlingua...,https://en.wikipedia.org/wiki/Bari_Karol_Wojty...,"Bari ""Karol Wojtyla"" International Airport, Pa..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59332,575,SWRD,medium_airport,Maestro Marinho Franco Airport,-16.584292,-54.724803,1467.0,SA,BR,BR-MT,Rondonópolis,yes,SBRD,ROO,MT0004,http://www.rondonopolis.mt.gov.br/orgaos-munic...,https://en.wikipedia.org/wiki/Rondon%C3%B3poli...,"SWRD, Rondonópolis Airport"
61067,6425,UAFL,medium_airport,Issyk-Kul International Airport,42.585584,76.701181,5425.0,AS,KG,KG-Y,Tamchy,yes,UCFL,IKU,IKU,http://www.airport.kg/index.php?option=com_con...,https://en.wikipedia.org/wiki/Tamchy_Airport,"UAFL, Issyk-Kul Airport, Chok-Tal Airport, Аэр..."
70349,26633,VRMG,medium_airport,Gan International Airport,-0.693342,73.155602,6.0,AS,MV,MV-01,Gan,yes,VRMG,GAN,MV,http://www.airports.com.mv/domestic/gan.htm,https://en.wikipedia.org/wiki/Gan_Internationa...,"Gan Airport, Addu City, Maldives"
70798,26762,WALR,medium_airport,Juwata International Airport / Suharnoko Harba...,3.325145,117.564169,23.0,AS,ID,ID-KU,Tarakan,yes,WAQQ,TRK,TRK,http://www.tarakan-airport.com,https://en.wikipedia.org/wiki/Juwata_Airport,"WRLR, WALR, WAQQ, TRK, JUWATA, TARAKAN"
71098,310599,WIPI,small_airport,Muara Bungo Airport,-1.127800,102.135000,214.0,AS,ID,ID-JA,Muara Bungo,yes,WIPI,BUU,MRBMWS,http://www.infobungo.com/2012/12/jadwal-penerb...,https://en.wikipedia.org/wiki/Muara_Bungo_Airport,Pasir Mayang

In [59]:
for i in df['type'].unique():
  print(i)

heliport
small_airport
closed
seaplane_base
balloonport
medium_airport
large_airport

In [60]:
df['type'].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [61]:
print("There are",len(df['type'].unique()),"types of airports")

There are 7 types of airports

In [62]:
c=0
for i in df['type']:
  if (i=='heliport'):
    c+=1
print('there are ',c,'heliports')

there are  18931 heliports

In [63]:
c=0
for i in df['scheduled_service']:
  if (i=='no'):
    c+=1
print('there are ',c,'shut ', end='')

op=0
for i in df['scheduled_service']:
  if (i=='yes'):
    op+=1
print('and',op,'open airports')

there are  70273 shut and 4190 open airports

In [64]:
print(float(op/(c+op)*100),'percent airports are open')

5.626955669258558 percent airports are open

In [65]:
c

70273

In [66]:
op

4190

In [67]:
float(op/(c+op)*100)

5.626955669258558

In [68]:
df['continent'].unique()

array([nan, 'OC', 'AF', 'AN', 'EU', 'AS', 'SA'], dtype=object)

In [69]:
for name in df['continent'].unique():
  ct=0
  for i in df['continent']:
    if(i==name):
      ct+=1
  print(name,":",ct)

nan : 0
OC : 3777
AF : 3963
AN : 43
EU : 9820
AS : 10740
SA : 10093

In [76]:
continent= {}

for name in df['continent'].unique():
 ct=0
 for i in df['continent']:
    if(i==name):
      ct+=1
 continent[name]=ct

In [81]:
print(continent)

{nan: 0, 'OC': 3777, 'AF': 3963, 'AN': 43, 'EU': 9820, 'AS': 10740, 'SA': 10093}

In [77]:
continent['EU']

9820

In [80]:
scheduled_service={}

for name in df['scheduled_service'].unique():
 ct=0
 for i in df['scheduled_service']:
    if(i==name):
      ct+=1
 scheduled_service[name]=ct
print(scheduled_service)

{'no': 70273, 'yes': 4190}

In [82]:
df['elevation_ft'].describe()

count    60256.000000
mean      1301.607906
std       1674.365090
min      -1266.000000
25%        203.750000
50%        730.000000
75%       1614.000000
max      17372.000000
Name: elevation_ft, dtype: float64

In [83]:
df['scheduled_service'].describe()

count     74463
unique        2
top          no
freq      70273
Name: scheduled_service, dtype: object

In [84]:
#describe() gives overall description of the particular column of dataset